In [1]:
import pandas as pd

In [2]:
f =pd.read_csv('Students2.csv')

In [3]:
f.head()

   Hours  sHours  hoursplayed  income  distance  calories  Marks
0      0       6            6     146         9      2491     34
1      1       7            2     112         5      2303     36
2      1       6            1      84         7      2475     33
3      1       8            5     134         0      2282     39
4      1       8            5     104         8      2359     42

In [4]:
f.shape

(30, 7)

In [5]:
#split dependent(Y) and independent(X)

In [6]:
x = f.iloc[:,:-1]
y = f.iloc[:,-1]

In [7]:
x

    Hours  sHours  hoursplayed  income  distance  calories
0       0       6            6     146         9      2491
1       1       7            2     112         5      2303
2       1       6            1      84         7      2475
3       1       8            5     134         0      2282
4       1       8            5     104         8      2359
5       2       8            4      80         1      2354
6       2       6            3      93         0      2943
7       3       6            3      83         7      2119
8       3       7            6     139         1      2511
9       3       7            5     138        10      2666
10      3       8            5      98         2      2934
11      4       8            1      90         0      2838
12      4       7            3     140         7      2102
13      4       7            6     144         3      2560
14      5       8            2     144         5      2068
15      5       6            2     119         6      2541
16      6       6            1     140         6      2690
17      6       7            1      85         3      2956
18      7       8            2     140         8      2239
19      7       8            6     107         0      2703
20      7       6            5      85         7      2603
21      7       6            3     109         0      2031
22      8       7            5     108         0      2885
23      8       8            1     150         8      2153
24      9       8            4     150         9      2384
25      9       5            5      84        10      2882
26      9       8            5     127         5      2271
27     10       8            6      95         6      2264
28     10       8            5      72         5      2522
29     11       7            3      89         3      2279

In [8]:
y

0     34
1     36
2     33
3     39
4     42
5     45
6     38
7     45
8     53
9     46
10    56
11    59
12    55
13    56
14    72
15    59
16    62
17    71
18    78
19    88
20    61
21    74
22    71
23    89
24    82
25    67
26    89
27    81
28    82
29    79
Name: Marks, dtype: int64

In [9]:
#Peform Linear regression using original dataset

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
lr = LinearRegression()

In [12]:
#Split the data

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, Y_train, Y_test = \
train_test_split(x, y, test_size=0.4, random_state = 1234)

In [15]:
#Fit the data and predict Y

In [16]:
lr.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
y_predict = lr.predict(X_test)

In [18]:
print(y_predict)

[37.4304362  56.8479958  38.85467354 38.975673   82.86947672 59.67634562
 52.29968093 81.17290759 67.77562938 63.7577854  82.18209854 86.65908659]

In [19]:
#calculate RMSE error for regression

In [20]:
from sklearn.metrics import mean_squared_error
import math

In [21]:
rmse = math.sqrt(mean_squared_error(Y_test, y_predict))

In [22]:
rmse

6.9822067153574565

In [23]:
#import F_regression from sklearn

In [25]:
from sklearn.feature_selection import f_regression as fr

In [28]:
result = fr(x,y)
result

(array([1.41905913e+02, 4.57019756e+00, 1.44882087e-03, 1.59990513e-01,
        3.16606568e-03, 4.04208927e-01]),
 array([1.77038466e-12, 4.14028344e-02, 9.69907241e-01, 6.92200477e-01,
        9.55528076e-01, 5.30086171e-01]))

In [30]:
f_score = result[0]
f_score

array([1.41905913e+02, 4.57019756e+00, 1.44882087e-03, 1.59990513e-01,
       3.16606568e-03, 4.04208927e-01])

In [32]:
p_values = result[1]
p_values

array([1.77038466e-12, 4.14028344e-02, 9.69907241e-01, 6.92200477e-01,
       9.55528076e-01, 5.30086171e-01])

In [33]:
columns = list(x.columns)

In [36]:
columns

['Hours', 'sHours', 'hoursplayed', 'income', 'distance', 'calories']

In [40]:
print(" ")
print(" ")
print(" ")

print ("   Features       ", "F-Score   ","     P-Values" )
print ("   ---------          -------          ---------")

for i in range (0, len(columns)):
    f1 = "%4.2f" % f_score[i]
    p1 = "%2.6f" % p_values[i]
    print("     ",columns[i].ljust(12), f1.rjust(8),"    ",p1.rjust(8))

   Features        F-Score         P-Values
   ---------          -------          ---------
      Hours          141.91      0.000000
      sHours           4.57      0.041403
      hoursplayed      0.00      0.969907
      income           0.16      0.692200
      distance         0.00      0.955528
      calories         0.40      0.530086

In [41]:
#Will it have any impact after dropping

In [42]:
X_train_n = X_train[['Hours', 'sHours']]
X_test_n = X_test[['Hours', 'sHours']]

In [43]:
lr1 = LinearRegression()

In [44]:
lr1.fit(X_train_n, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
y_predict_n = lr1.predict(X_test_n)

In [46]:
y_predict_n

array([45.71062526, 56.08733143, 46.59239886, 41.40404577, 89.31959542,
       50.89897834, 46.59239886, 79.82466285, 65.582264  , 55.64644463,
       74.63630977, 84.57212914])

In [48]:
rmse_n = math.sqrt(mean_squared_error(Y_test, y_predict_n))

In [49]:
rmse_n

5.0972172810811305