In [29]:
import pandas as pd
import numpy as np

In [30]:
data_set = pd.read_csv("01Students.csv")

In [31]:
df = data_set.copy()

In [32]:
df

    Hours  Marks
0       0     34
1       1     36
2       1     33
3       1     39
4       1     42
5       2     45
6       2     38
7       3     45
8       3     53
9       3     46
10      3     56
11      4     59
12      4     55
13      4     56
14      5     72
15      5     59
16      6     62
17      6     71
18      7     78
19      7     88
20      7     61
21      7     74
22      8     71
23      8     89
24      9     82
25      9     67
26      9     89
27     10     81
28     10     82
29     11     79

In [33]:
df.head()

   Hours  Marks
0      0     34
1      1     36
2      1     33
3      1     39
4      1     42

In [34]:
df.isnull().sum(axis = 1)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
dtype: int64

In [35]:
X = df.iloc[:, :-1]
X

    Hours
0       0
1       1
2       1
3       1
4       1
5       2
6       2
7       3
8       3
9       3
10      3
11      4
12      4
13      4
14      5
15      5
16      6
17      6
18      7
19      7
20      7
21      7
22      8
23      8
24      9
25      9
26      9
27     10
28     10
29     11

In [36]:
Y = df.iloc[:, -1]
Y

0     34
1     36
2     33
3     39
4     42
5     45
6     38
7     45
8     53
9     46
10    56
11    59
12    55
13    56
14    72
15    59
16    62
17    71
18    78
19    88
20    61
21    74
22    71
23    89
24    82
25    67
26    89
27    81
28    82
29    79
Name: Marks, dtype: int64

In [37]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = \
train_test_split(X,Y,test_size = 0.3,random_state = 1234)

In [11]:
x_train

    Hours
13      4
22      8
24      9
0       0
2       1
27     10
26      9
18      7
5       2
16      6
25      9
11      4
9       3
17      6
29     11
20      7
12      4
21      7
6       2
19      7
15      5

In [12]:
x_test

    Hours
7       3
10      3
4       1
1       1
28     10
8       3
3       1
23      8
14      5

In [13]:
y_train

13    56
22    71
24    82
0     34
2     33
27    81
26    89
18    78
5     45
16    62
25    67
11    59
9     46
17    71
29    79
20    61
12    55
21    74
6     38
19    88
15    59
Name: Marks, dtype: int64

In [14]:
y_test

7     45
10    56
4     42
1     36
28    82
8     53
3     39
23    89
14    72
Name: Marks, dtype: int64

In [15]:
# Simple Linear Regression Model

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
#create regressor

In [18]:
std_reg = LinearRegression()

In [19]:
#Train or fit the training data

In [20]:
std_reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
#Let's now predict the values of Y from test data

In [22]:
std_reg = std_reg.predict(x_test)

In [23]:
std_reg

array([49.35373808, 49.35373808, 39.29954842, 39.29954842, 84.54340191,
       49.35373808, 39.29954842, 74.48921224, 59.40792775])

In [24]:
#Calculate the R-Squared and Equation of the Line

In [25]:
std_score = std_reg.score(x_test, y_test)

AttributeError: 'numpy.ndarray' object has no attribute 'score'

In [ ]:
slr_coefficent = std_reg.coef_
slr_intercept = std_reg.intercept_

In [ ]:
#How much error our model has made 
#RMSE - Root Mean Squared Error

In [ ]:
!pip install math

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
import math

In [27]:
slr_rmse = math.sqrt(mean_squared_error(y_test, y_predict))

NameError: name 'math' is not defined

In [28]:
slr_rmse

NameError: name 'slr_rmse' is not defined