In [1]:
import pandas as pd
import numpy as np

In [2]:
data_set = pd.read_csv("02Students.csv")

In [3]:
df = data_set.copy()

In [4]:
df

    Hours  sHours  Marks
0       0       6     34
1       1       7     36
2       1       6     33
3       1       8     39
4       1       8     42
5       2       8     45
6       2       6     38
7       3       6     45
8       3       7     53
9       3       7     46
10      3       8     56
11      4       8     59
12      4       7     55
13      4       7     56
14      5       8     72
15      5       6     59
16      6       6     62
17      6       7     71
18      7       8     78
19      7       8     88
20      7       6     61
21      7       6     74
22      8       7     71
23      8       8     89
24      9       8     82
25      9       5     67
26      9       8     89
27     10       8     81
28     10       8     82
29     11       7     79

In [5]:
df.head()

   Hours  sHours  Marks
0      0       6     34
1      1       7     36
2      1       6     33
3      1       8     39
4      1       8     42

In [6]:
df.isnull().sum(axis = 1)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
dtype: int64

In [7]:
X = df.iloc[:, :-1]
X

    Hours  sHours
0       0       6
1       1       7
2       1       6
3       1       8
4       1       8
5       2       8
6       2       6
7       3       6
8       3       7
9       3       7
10      3       8
11      4       8
12      4       7
13      4       7
14      5       8
15      5       6
16      6       6
17      6       7
18      7       8
19      7       8
20      7       6
21      7       6
22      8       7
23      8       8
24      9       8
25      9       5
26      9       8
27     10       8
28     10       8
29     11       7

In [8]:
Y = df.iloc[:, -1]
Y

0     34
1     36
2     33
3     39
4     42
5     45
6     38
7     45
8     53
9     46
10    56
11    59
12    55
13    56
14    72
15    59
16    62
17    71
18    78
19    88
20    61
21    74
22    71
23    89
24    82
25    67
26    89
27    81
28    82
29    79
Name: Marks, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = \
train_test_split(X,Y,test_size = 0.3,random_state = 1234)

In [11]:
x_train

    Hours  sHours
13      4       7
22      8       7
24      9       8
0       0       6
2       1       6
27     10       8
26      9       8
18      7       8
5       2       8
16      6       6
25      9       5
11      4       8
9       3       7
17      6       7
29     11       7
20      7       6
12      4       7
21      7       6
6       2       6
19      7       8
15      5       6

In [12]:
x_test

    Hours  sHours
7       3       6
10      3       8
4       1       8
1       1       7
28     10       8
8       3       7
3       1       8
23      8       8
14      5       8

In [13]:
y_train

13    56
22    71
24    82
0     34
2     33
27    81
26    89
18    78
5     45
16    62
25    67
11    59
9     46
17    71
29    79
20    61
12    55
21    74
6     38
19    88
15    59
Name: Marks, dtype: int64

In [14]:
y_test

7     45
10    56
4     42
1     36
28    82
8     53
3     39
23    89
14    72
Name: Marks, dtype: int64

In [15]:
# Simple Linear Regression Model

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
#create regressor

In [18]:
std_reg = LinearRegression()

In [19]:
#Train or fit the training data

In [20]:
std_reg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
#Let's now predict the values of Y from test data

In [22]:
y_predict = std_reg.predict(x_test)

In [23]:
y_predict

array([45.76085662, 55.91055579, 46.57952582, 41.50467624, 88.56916066,
       50.8357062 , 46.57952582, 79.2381307 , 65.24158575])

In [24]:
#Calculate the R-Squared and Equation of the Line

In [25]:
slr_score = std_reg.score(x_test, y_test)

In [26]:
slr_score

0.9014449991870029

In [27]:
#Coeffiecient of the line

In [28]:
slr_coefficient = std_reg.coef_
slr_intercept = std_reg.intercept_

In [29]:
slr_coefficient

array([4.66551498, 5.07484959])

In [30]:
slr_intercept

1.3152141538095066

In [31]:
#Equation of the line

In [32]:
#Y = 34.27 + 5.02 * x

In [33]:
#How much error our model has made 
#RMSE - Root Mean Squared Error

In [34]:
from sklearn.metrics import mean_squared_error

In [35]:
import math

In [36]:
slr_rmse = math.sqrt(mean_squared_error(y_test, y_predict))

In [37]:
slr_rmse

5.755363941612018