In [1]:
import pandas as pd

In [2]:
f = pd.read_csv('bank.csv')

In [10]:
f.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
f.shape

(41188, 21)

In [11]:
print(f)

       age          job  marital            education  default housing loan  \
0       56    housemaid  married             basic.4y       no      no   no
1       57     services  married          high.school  unknown      no   no
2       37     services  married          high.school       no     yes   no
3       40       admin.  married             basic.6y       no      no   no
4       56     services  married          high.school       no      no  yes
...    ...          ...      ...                  ...      ...     ...  ...
41183   73      retired  married  professional.course       no     yes   no
41184   46  blue-collar  married  professional.course       no      no   no
41185   56      retired  married    university.degree       no     yes   no
41186   44   technician  married  professional.course       no      no   no
41187   74      retired  married  professional.course       no     yes   no

         contact month day_of_week  ...  campaign  pdays  previous  \
0      telephone   may         mon  ...         1    999         0
1      telephone   may         mon  ...         1    999         0
2      telephone   may         mon  ...         1    999         0
3      telephone   may         mon  ...         1    999         0
4      telephone   may         mon  ...         1    999         0
...          ...   ...         ...  ...       ...    ...       ...
41183   cellular   nov         fri  ...         1    999         0
41184   cellular   nov         fri  ...         1    999         0
41185   cellular   nov         fri  ...         2    999         0
41186   cellular   nov         fri  ...         1    999         0
41187   cellular   nov         fri  ...         3    999         1

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent          1.1          93.994          -36.4      4.857
1      nonexistent          1.1          93.994          -36.4      4.857
2      nonexistent          1.1          93.994          -36.4      4.857
3      nonexistent          1.1          93.994          -36.4      4.857
4      nonexistent          1.1          93.994          -36.4      4.857
...            ...          ...             ...            ...        ...
41183  nonexistent         -1.1          94.767          -50.8      1.028
41184  nonexistent         -1.1          94.767          -50.8      1.028
41185  nonexistent         -1.1          94.767          -50.8      1.028
41186  nonexistent         -1.1          94.767          -50.8      1.028
41187      failure         -1.1          94.767          -50.8      1.028

       nr.employed    y
0           5191.0   no
1           5191.0   no
2           5191.0   no
3           5191.0   no
4           5191.0   no
...            ...  ...
41183       4963.6  yes
41184       4963.6   no
41185       4963.6   no
41186       4963.6  yes
41187       4963.6   no

[41188 rows x 21 columns]

In [6]:
f.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [7]:
dur = f['duration']

In [8]:
dur

0        261
1        149
2        226
3        151
4        307
        ...
41183    334
41184    383
41185    189
41186    442
41187    239
Name: duration, Length: 41188, dtype: int64

In [12]:
f = f.drop('duration',axis = 1)

In [13]:
#Split X and Y

In [15]:
x = f.iloc[:,:-1]
y = f.iloc[:,-1]

In [18]:
x = pd.get_dummies(x, drop_first=True)
y = pd.get_dummies(y,drop_first=True)

In [19]:
#Split train_test

In [20]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, Y_train, Y_test = \
train_test_split(x,y,test_size = 0.3, random_state = 1234, stratify = y)

In [37]:
#Random Forest Calssifier

In [38]:
from sklearn.ensemble import RandomForestClassifier

In [74]:
rfc1 = RandomForestClassifier(random_state =1234)
rfc1.fit(X_train, Y_train)
y_predict1 = rfc1.predict(X_test)

C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [40]:
y_predict1

array([0, 1, 0, ..., 0, 0, 0], dtype=uint8)

In [41]:
#Score and Evaluate the Model

In [42]:
from sklearn.metrics import confusion_matrix

In [43]:
cm1 = confusion_matrix(Y_test, y_predict1)
score1 = rfc1.score(X_test, Y_test)

In [44]:
cm1

array([[10647,   318],
       [  988,   404]], dtype=int64)

In [45]:
score1

0.8943109168892126

In [46]:
from sklearn.feature_selection import RFE

In [47]:
#get estimator

In [51]:
rfc2 = RandomForestClassifier(random_state=1234)
rfe = RFE(estimator =rfc2, n_features_to_select = 30, step = 1)

In [52]:
rfe.fit(x,y)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RFE(estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                     class_weight=None, criterion='gini',
                                     max_depth=None, max_features='auto',
                                     max_leaf_nodes=None, max_samples=None,
                                     min_impurity_decrease=0.0,
                                     min_impurity_split=None,
                                     min_samples_leaf=1, min_samples_split=2,
                                     min_weight_fraction_leaf=0.0,
                                     n_estimators=100, n_jobs=None,
                                     oob_score=False, random_state=1234,
                                     verbose=0, warm_start=False),
    n_features_to_select=30, step=1, verbose=0)

In [55]:
x_train_rfe = rfe.transform(X_train)
x_test_rfe = rfe.transform(X_test)

In [56]:
x_train_rfe

array([[ 29.,   2.,   3., ...,   1.,   0.,   1.],
       [ 49.,   2., 999., ...,   0.,   1.,   0.],
       [ 59.,   2., 999., ...,   0.,   1.,   0.],
       ...,
       [ 32.,   2., 999., ...,   0.,   1.,   0.],
       [ 50.,   3., 999., ...,   0.,   1.,   0.],
       [ 58.,   4., 999., ...,   0.,   1.,   0.]])

In [57]:
x_test_rfe

array([[ 26.,   3., 999., ...,   0.,   1.,   0.],
       [ 72.,   1., 999., ...,   1.,   1.,   0.],
       [ 20.,   1., 999., ...,   1.,   1.,   0.],
       ...,
       [ 32.,   1., 999., ...,   0.,   0.,   0.],
       [ 39.,   2., 999., ...,   0.,   1.,   0.],
       [ 27.,   1., 999., ...,   0.,   1.,   0.]])

In [58]:
rfc2.fit(x_train_rfe, Y_train)
y_predict2 = rfc2.predict(x_test_rfe)

C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [59]:
#Score and EValuate the New Model

In [60]:
from sklearn.metrics import confusion_matrix

In [62]:
cm_rfe = confusion_matrix(Y_test, y_predict2)
score_rfe = rfc2.score(x_test_rfe, Y_test)

In [65]:
cm1

array([[10647,   318],
       [  988,   404]], dtype=int64)

In [63]:
cm_rfe

array([[10638,   327],
       [  979,   413]], dtype=int64)

In [64]:
score_rfe

0.8943109168892126

In [66]:
#GEt cOLUMN NAMES

In [68]:
columns = list(x.columns)

In [69]:
#Get the Rank

In [70]:
#Ranking 1 for selected features

In [71]:
ranking =rfe.ranking_

In [72]:
#Get feature importance score

In [76]:
feature_impotance = rfc1.feature_importances_

In [77]:
#Create DataFrame of Feature selected ,Ranking and Feature Importance

In [78]:
rfe_selected = pd.DataFrame()

In [80]:
rfe_selected = pd.concat([pd.DataFrame(columns),pd.DataFrame(ranking),pd.DataFrame(feature_impotance)], axis = 1)

In [82]:
rfe_selected.columns= ["Feature Name","Ranking", "Feature Importance"]

In [83]:
rfe_selected

                     Feature Name  Ranking  Feature Importance
0                             age        1        1.708099e-01
1                        campaign        1        8.396704e-02
2                           pdays        1        3.095854e-02
3                        previous        1        1.910895e-02
4                    emp.var.rate        1        2.206491e-02
5                  cons.price.idx        1        2.318935e-02
6                   cons.conf.idx        1        2.788468e-02
7                       euribor3m        1        1.210910e-01
8                     nr.employed        1        6.266152e-02
9                 job_blue-collar        1        1.401534e-02
10               job_entrepreneur        5        6.524096e-03
11                  job_housemaid       11        5.329012e-03
12                 job_management        1        1.149622e-02
13                    job_retired        1        7.625941e-03
14              job_self-employed        3        7.656227e-03
15                   job_services        1        1.145851e-02
16                    job_student        6        6.142427e-03
17                 job_technician        1        1.758248e-02
18                 job_unemployed        8        5.617039e-03
19                    job_unknown       16        2.600527e-03
20                marital_married        1        2.117302e-02
21                 marital_single        1        1.767990e-02
22                marital_unknown       20        9.097499e-04
23             education_basic.6y        4        7.640708e-03
24             education_basic.9y        1        1.211024e-02
25          education_high.school        1        1.731368e-02
26           education_illiterate       22        5.717097e-04
27  education_professional.course        1        1.264106e-02
28    education_university.degree        1        1.782134e-02
29              education_unknown        2        7.690096e-03
30                default_unknown        1        1.668574e-02
31                    default_yes       23        1.394463e-07
32                housing_unknown        7        3.310066e-03
33                    housing_yes        1        3.894037e-02
34                   loan_unknown       13        3.218632e-03
35                       loan_yes        1        2.387039e-02
36              contact_telephone        1        1.643367e-02
37                      month_aug       17        2.422641e-03
38                      month_dec       21        9.092748e-04
39                      month_jul       15        2.257687e-03
40                      month_jun       14        2.986767e-03
41                      month_mar       10        3.847703e-03
42                      month_may       12        4.238078e-03
43                      month_nov       19        2.122927e-03
44                      month_oct        9        5.457403e-03
45                      month_sep       18        1.872856e-03
46                day_of_week_mon        1        1.621821e-02
47                day_of_week_thu        1        1.614350e-02
48                day_of_week_tue        1        1.556672e-02
49                day_of_week_wed        1        1.599373e-02
50           poutcome_nonexistent        1        9.718556e-03
51               poutcome_success        1        2.444966e-02