In [1]:
import pandas as pd

In [3]:
f = pd.read_csv('Students2.csv')

In [4]:
f.head(10)

   Hours  sHours  hoursplayed  income  distance  calories  Marks
0      0       6            6     146         9      2491     34
1      1       7            2     112         5      2303     36
2      1       6            1      84         7      2475     33
3      1       8            5     134         0      2282     39
4      1       8            5     104         8      2359     42
5      2       8            4      80         1      2354     45
6      2       6            3      93         0      2943     38
7      3       6            3      83         7      2119     45
8      3       7            6     139         1      2511     53
9      3       7            5     138        10      2666     46

In [5]:
#SPLIT x AND y

In [6]:
X = f.iloc[:,:-1]
Y = f.iloc[:,-1]

In [15]:
print(X)
print(Y)

    Hours  sHours  hoursplayed  income  distance  calories
0       0       6            6     146         9      2491
1       1       7            2     112         5      2303
2       1       6            1      84         7      2475
3       1       8            5     134         0      2282
4       1       8            5     104         8      2359
5       2       8            4      80         1      2354
6       2       6            3      93         0      2943
7       3       6            3      83         7      2119
8       3       7            6     139         1      2511
9       3       7            5     138        10      2666
10      3       8            5      98         2      2934
11      4       8            1      90         0      2838
12      4       7            3     140         7      2102
13      4       7            6     144         3      2560
14      5       8            2     144         5      2068
15      5       6            2     119         6      2541
16      6       6            1     140         6      2690
17      6       7            1      85         3      2956
18      7       8            2     140         8      2239
19      7       8            6     107         0      2703
20      7       6            5      85         7      2603
21      7       6            3     109         0      2031
22      8       7            5     108         0      2885
23      8       8            1     150         8      2153
24      9       8            4     150         9      2384
25      9       5            5      84        10      2882
26      9       8            5     127         5      2271
27     10       8            6      95         6      2264
28     10       8            5      72         5      2522
29     11       7            3      89         3      2279
0     34
1     36
2     33
3     39
4     42
5     45
6     38
7     45
8     53
9     46
10    56
11    59
12    55
13    56
14    72
15    59
16    62
17    71
18    78
19    88
20    61
21    74
22    71
23    89
24    82
25    67
26    89
27    81
28    82
29    79
Name: Marks, dtype: int64

In [16]:
print(X.shape)
print(Y.shape)

(30, 6)
(30,)

In [7]:
#Import vrious select transforms 
#the f_regression mode

In [10]:
from sklearn.feature_selection import SelectKBest,   \
                                      SelectPercentile,  \
                                      GenericUnivariateSelect, \
                                      f_regression

In [13]:
selectorK = SelectKBest(score_func=f_regression, k=3)
selectorK

SelectKBest(k=3, score_func=<function f_regression at 0x00000234447BAA68>)

In [14]:
x_k = selectorK.fit_transform(X,Y)
x_k

array([[   0,    6, 2491],
       [   1,    7, 2303],
       [   1,    6, 2475],
       [   1,    8, 2282],
       [   1,    8, 2359],
       [   2,    8, 2354],
       [   2,    6, 2943],
       [   3,    6, 2119],
       [   3,    7, 2511],
       [   3,    7, 2666],
       [   3,    8, 2934],
       [   4,    8, 2838],
       [   4,    7, 2102],
       [   4,    7, 2560],
       [   5,    8, 2068],
       [   5,    6, 2541],
       [   6,    6, 2690],
       [   6,    7, 2956],
       [   7,    8, 2239],
       [   7,    8, 2703],
       [   7,    6, 2603],
       [   7,    6, 2031],
       [   8,    7, 2885],
       [   8,    8, 2153],
       [   9,    8, 2384],
       [   9,    5, 2882],
       [   9,    8, 2271],
       [  10,    8, 2264],
       [  10,    8, 2522],
       [  11,    7, 2279]], dtype=int64)

In [17]:
#Get f_score and p_values

In [20]:
f_score = selectorK.scores_
p_values = selectorK.pvalues_

In [27]:
columns = list(X.columns)

In [28]:
print(" ")
print(" ")
print(" ")

print ("   Features       ", "F-Score   ","     P-Values" )
print ("   ---------          -------          ---------")
for i in range (0, len(columns)):
    f1 = "%4.2f" % f_score[i]
    p1 = "%2.6f" % p_values[i]
    print("     ",columns[i].ljust(12), f1.rjust(8),"    ",p1.rjust(8))

   Features        F-Score         P-Values
   ---------          -------          ---------
      Hours          141.91      0.000000
      sHours           4.57      0.041403
      hoursplayed      0.00      0.969907
      income           0.16      0.692200
      distance         0.00      0.955528
      calories         0.40      0.530086

In [30]:
cols = selectorK.get_support(indices=True)
selected_cols = X.columns[cols].tolist()

In [31]:
print(selected_cols)

['Hours', 'sHours', 'calories']

In [32]:
#Select Percentile

In [34]:
selectorP = SelectPercentile(score_func=f_regression,percentile = 50)
x_p = selectorP.fit_transform(X,Y)
x_p

array([[   0,    6, 2491],
       [   1,    7, 2303],
       [   1,    6, 2475],
       [   1,    8, 2282],
       [   1,    8, 2359],
       [   2,    8, 2354],
       [   2,    6, 2943],
       [   3,    6, 2119],
       [   3,    7, 2511],
       [   3,    7, 2666],
       [   3,    8, 2934],
       [   4,    8, 2838],
       [   4,    7, 2102],
       [   4,    7, 2560],
       [   5,    8, 2068],
       [   5,    6, 2541],
       [   6,    6, 2690],
       [   6,    7, 2956],
       [   7,    8, 2239],
       [   7,    8, 2703],
       [   7,    6, 2603],
       [   7,    6, 2031],
       [   8,    7, 2885],
       [   8,    8, 2153],
       [   9,    8, 2384],
       [   9,    5, 2882],
       [   9,    8, 2271],
       [  10,    8, 2264],
       [  10,    8, 2522],
       [  11,    7, 2279]], dtype=int64)

In [35]:
#Implement GenericUnivariateSelect transform

In [40]:
selectorG1 = GenericUnivariateSelect(score_func=f_regression,mode='k_best', param=3)
X_g1 = selectorG1.fit_transform(X,Y)

In [43]:
selectorG2 = GenericUnivariateSelect(score_func=f_regression,mode='percentile', param=50)
X_g2 = selectorG2.fit_transform(X,Y)

In [45]:
print (X_g1)

[[   0    6 2491]
 [   1    7 2303]
 [   1    6 2475]
 [   1    8 2282]
 [   1    8 2359]
 [   2    8 2354]
 [   2    6 2943]
 [   3    6 2119]
 [   3    7 2511]
 [   3    7 2666]
 [   3    8 2934]
 [   4    8 2838]
 [   4    7 2102]
 [   4    7 2560]
 [   5    8 2068]
 [   5    6 2541]
 [   6    6 2690]
 [   6    7 2956]
 [   7    8 2239]
 [   7    8 2703]
 [   7    6 2603]
 [   7    6 2031]
 [   8    7 2885]
 [   8    8 2153]
 [   9    8 2384]
 [   9    5 2882]
 [   9    8 2271]
 [  10    8 2264]
 [  10    8 2522]
 [  11    7 2279]]

In [46]:
print (X_g2)

[[   0    6 2491]
 [   1    7 2303]
 [   1    6 2475]
 [   1    8 2282]
 [   1    8 2359]
 [   2    8 2354]
 [   2    6 2943]
 [   3    6 2119]
 [   3    7 2511]
 [   3    7 2666]
 [   3    8 2934]
 [   4    8 2838]
 [   4    7 2102]
 [   4    7 2560]
 [   5    8 2068]
 [   5    6 2541]
 [   6    6 2690]
 [   6    7 2956]
 [   7    8 2239]
 [   7    8 2703]
 [   7    6 2603]
 [   7    6 2031]
 [   8    7 2885]
 [   8    8 2153]
 [   9    8 2384]
 [   9    5 2882]
 [   9    8 2271]
 [  10    8 2264]
 [  10    8 2522]
 [  11    7 2279]]